body {

background-color: #ffffff;
   height: 100vh;
   margin: 0px;
   overflow: hidden;
   position: relative;
}

p {
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 14px;
text-align: center;
color: #0E0E10;
}

a {
color: #0E0E10;
style="text-decoration:underline;">
}
